<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat with ChatGPT</title>
    <link rel="stylesheet" href="static/chat.css" />
  </head>
  <body>
    <div class="container">
      <div class="chat-box">
        <div class="chat-header">
          <h3>Chat with ChatGPT</h3>
        </div>
        <div class="chat-content" id="chat-content">
          <div id="loading">
            <p>Loading Chat...</p>
          </div>
          <!-- <div id="anchor"></div> -->
        </div>
        <form class="message-form" id="message-form">
          <input
            type="text"
            id="message-input"
            name="message"
            placeholder="Type your message here..."
            required
            autocomplete="off"
          />
          <button type="submit">Send</button>
        </form>
      </div>
      <div class="menu">
        <div class="menu-header">
          <h3>Menu</h3>
        </div>
        <ul class="menu-list">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
        </ul>
      </div>
    </div>
    <script src="static/chat.js"></script>
  </body>
</html>