{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}
<div class="menu-dropdown">
  <button class="profile-button">User Profile</button>
  <div class="menu-dropdown-content">
    <a href="#">Profile</a>
    <a href="#">Logout</a>
  </div>
</div>
{% endblock %}