<!-- <!DOCTYPE html> -->
{% extends "layout.html.jinja" %}
{% block body %}
<link rel="stylesheet" href="static/chat.css" />
<div class="container">
  <div class="chat-box">
    <div class="chat-header">
      <h3>Chat with ChatGPT</h3>
    </div>
    <div class="chat-content" id="chat-content">
      <div id="loading">
        <p>Loading Chat...</p>
      </div>
    </div>
    <form class="message-form" id="message-form" method="post">
      <input type="text" id="message-input" name="message" placeholder="Type your message here..." required
        autocomplete="off" />
      <button type="submit">Send</button>
    </form>
  </div>
  <div class="menu">
    <div class="menu-header">
      <h3>Menu</h3>
    </div>
    <ul class="menu-list">
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
    </ul>
  </div>
</div>
<div id="popup" class="popup hidden">
  <p>Hello! This is a pop-up message.</p>
  <span class="close-button" onclick="closePopup()">x</span>
</div>
<script src="static/chat.js"></script>

{% endblock %}
<!-- </html> -->