{% block head %}
{% endblock %}
{% block body %}
{% include "layout.html.jinja" %}
<link rel="stylesheet" href="static/chat/chat.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='chat/message.css') }}">
<div class="container">
  <div class="chat-box" route="/diary/">
    <div class="chat-header">
      <h3>Diary Chat Assistant</h3>
      {% include "chat/rules.html.jinja" %}
      <script src="{{ url_for('static', filename='chat/rules_view.js') }}"></script>
    </div>
    <div class="chat-content" id="diary-chat-content">
      <div id="loading">
        <p>Loading Chat...</p>
      </div>
    </div>
    <div class="chat-footer">
      <form class="message-form" id="diary-message-form" method="POST">
        <div class="input-container">
          <textarea id="diary-message-input" name="message" placeholder="Type your message here..." required autocomplete="off"
            contenteditable="true" aria-multiline="true"></textarea>
          <button type="submit" class="send-button">&#10148;</button>
        </div>
        <div class="options-container">
          <div class="chat-settings">
            <!-- <div class="chat-mode"> -->
              <label for="diary-chat-mode">Chat Mode:</label>
              <select name="chat-mode" id="diary-chat-mode">
                <option value="simple">Simple Log</option>
                <option value="conversation">Conversation Mode</option>
              </select>
            <!-- </div> -->
            <!-- <div class="chat-role"> -->
              <label for="chat-role-select">Role:</label>
              <select name="chat-role" id="chat-role-select">
                <option value="system">system</option>
                <option value="user">user</option>
                <option value="ass">ass</option>
              </select>
            <!-- </div> -->
          </div>
          <div class="debug-toggle" id="debug_toggle">
            <input type="checkbox">
            <p>Debug</p>
          </div>
          <button type="button" id "clear-diary-context" class="clear-button">Clear Thread</button>
          <button type="button" id="clear-diary-chat" class="clear-button">Clear Chat</button>
          </div>
      </form>
    </div>
  </div>

  <!-- <div class="chat-box" route="psy_ass">
    <div class="chat-header">
      <h3>Psychologist Assistant</h3>
    </div>
    <div class="chat-content" id="psychologist-chat-content"></div>
    <div class="chat-footer">
      <form class="message-form" id="psychologist-message-form" method="post">
        <div id="diary-messages-container" class="messages-container">
          <p>Drag and drop messages here to include in the message</p>
        </div>
        <input type="text" id="psychologist-message-input" name="message" placeholder="Type your message here..."
          required autocomplete="off" />
        <button type="submit">Send</button>
      </form>
    </div>
  </div> -->

  <div id="popup" class="popup hidden">
    <p>Hello! This is a pop-up message.</p>
    <span class="close-button" onclick="closePopup()">x</span>
  </div>
</div>

<script src="static/chat/chat.js"></script>
{% endblock %}
